################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/client/.vs/client/v15
*.pyproj
*.sln
/client/config/master.py
__pycache__
/client/venv
/client/settings.json
/client/client.pyproj.user
